body {
    background-color: var(--cinza);
}

.fundo-red {
    background-color: var(--vermelho);
    width: 100%;
    height: 200px;
}
    
.content {
    width: 80%;
}

.titulo-user {
    color: var(--vermelhoEscuro);
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.cards-andamento {
    background-color: var(--vermelhoEscuro);
    border-radius: 15px;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
}