.titulo-meus-chamados-tecnico {
  padding-top: 30px;
  padding-top: 20px;
  padding-left: 25px;
}

.bannerChamadosArea {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;

}

.icon-semchamados {
  width: 12rem;
}

.btn-paginacao {
  background-color: #000;
  color: #fff;
  border: #000;
}

.btn-paginacao:hover {
  background-color: #000;
  color: #fff;
  border: #000;
}

.btn-paginacao:focus {
  background-color: #000;
  color: #fff;
  border: #000;
}

/* ===================== FILTRO ===================== */
.filtros {
  margin-top: 8px;
  margin-right: 15px;
  margin-left: 15px;
  background-color: #1f1d1d;
  /* fundo preto */
  color: #fff;
  /* texto branco */
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.filtros h3 {
  color: #fff;
  margin-bottom: 15px;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
}

.form-select:active {
  border: none;
}

.filtro-select {
  border: 1px solid #ccc;
  color: #000;
  background-color: #fff;
  padding: 6px;
  transition: all 0.2s;
}

.filtro-select:hover {
  color: #fff;
  border: 1px solid #b6010d;
}

.filtro-select:focus {
  color: #fff;
  border: 1px solid #b6010d;
  box-shadow: none;
  outline: none;
}

.filtro-select option:checked {
  background-color: #b6010d;
  color: #fff;
}

.filtro-select option:hover {
  background-color: #b6010d;
  color: #fff;
}

.filtro-input:hover {
  color: #fff;
  border: 1px solid #b6010d;
}

.filtro-input:focus {
  color: #fff;
  border: 1px solid #b6010d;
  box-shadow: none;
  outline: none;
}

.filtro-input option:checked {
  background-color: #b6010d;
  color: #fff;
}

.filtro-input option:hover {
  background-color: #b6010d;
  color: #fff;
}

/* ==================== BOTÃO ==================== */
.btn-verperfil {
  font-weight: bold;
  background-color: #e30615;
  /* vermelho vibrante */
  color: #fff;
  border: none;
  padding: 15px 0;
  width: 100%;
  border-radius: 8px;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.btn-verperfil:hover {
  background-color: #b6010d;
  /* vermelho mais escuro no hover */
  color: #fff;
}

/* ==================== SELECTS E INPUT ==================== */
.filtros select,
.filtros input[type="date"] {
  width: 100%;
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid #444;
  background-color: #1a1a1a;
  color: #fff;
  margin-top: 5px;
  margin-bottom: 15px;
}

.filtros select option {
  background-color: #1a1a1a;
  color: #fff;
}

/* ==================== RANGE SLIDER ==================== */
.PB-range-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  border-radius: 5px;
  background: #D5DBE1;
  outline: none;
  opacity: 0.7;
  transition: opacity .2s;
}

.PB-range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #eb123a;
  /* vermelho thumb */
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.PB-range-slider::-webkit-slider-thumb:hover {
  box-shadow: 0px 0px 0px 8px #d85c73;
}

.PB-range-slider-div {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 6px;
  border: 1px solid #444;
  background-color: #111;
  margin-bottom: 15px;
}

/* ==================== CHECKBOX ==================== */
.ui-checkbox {
  --primary-color: #eb123a;
  /* vermelho */
  --secondary-color: #000;
  /* fundo checkbox */
}

.filtros label {
  color: #fff;
  margin-left: 5px;
}




















/* ////////////////////Range idade///////////////  */
.PB-range-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  border-radius: 5px;
  background: #D5DBE1;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.PB-range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #eb123a;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.PB-range-slider::-webkit-slider-thumb:hover {
  box-shadow: 0px 0px 0px 8px #d85c73;
  transition: 0.3s ease-in-out;
}

.PB-range-slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #000000;
  cursor: pointer;
}

.PB-range-slider-div {
  display: flex;
  width: 150px;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 6px;
  border: 1px solid #C6CACE;
  box-shadow: 0px 1px 2px 0px #1F1E241F;
}

.PB-range-slidervalue {
  font-weight: 600;
}

/* ////////////////////Range idade///////////////  */

















/*////////////////////////////// Inicio estilizaçãao CheckBox //////////////////////////*/
.ui-checkbox {
  --primary-color: #f94f66;
  --secondary-color: #fff;
  --primary-hover-color: #4096ff;
  /* checkbox */
  --checkbox-diameter: 20px;
  --checkbox-border-radius: 5px;
  --checkbox-border-color: #d9d9d9;
  --checkbox-border-width: 1px;
  --checkbox-border-style: solid;
  /* checkmark */
  --checkmark-size: 1.2;
}

.ui-checkbox,
.ui-checkbox *,
.ui-checkbox *::before,
.ui-checkbox *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.ui-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: var(--checkbox-diameter);
  height: var(--checkbox-diameter);
  border-radius: var(--checkbox-border-radius);
  background: var(--secondary-color);
  border: var(--checkbox-border-width) var(--checkbox-border-style) var(--checkbox-border-color);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  position: relative;
}

.ui-checkbox::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-box-shadow: 0 0 0 calc(var(--checkbox-diameter) / 2.5) var(--primary-color);
  box-shadow: 0 0 0 calc(var(--checkbox-diameter) / 2.5) var(--primary-color);
  border-radius: inherit;
  opacity: 0;
  -webkit-transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
  -o-transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
  transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
}

.ui-checkbox::before {
  top: 40%;
  left: 50%;
  content: "";
  position: absolute;
  width: 4px;
  height: 7px;
  border-right: 2px solid var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
  -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(0);
  -ms-transform: translate(-50%, -50%) rotate(45deg) scale(0);
  transform: translate(-50%, -50%) rotate(45deg) scale(0);
  opacity: 0;
  -webkit-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
  -o-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
  transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
}

/* actions */

.ui-checkbox:hover {
  border-color: var(--primary-color);
}

.ui-checkbox:checked {
  background: var(--primary-color);
  border-color: transparent;
}

.ui-checkbox:checked::before {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
  -ms-transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
  transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
  -webkit-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
  -o-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
  transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
}

.ui-checkbox:active:not(:checked)::after {
  -webkit-transition: none;
  -o-transition: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  transition: none;
  opacity: 1;
}

/* /////////////////////////Fim estilizaçãao CheckBox //////////////////////////////*/

@media (min-width: 768px) and (max-width: 900px) {
  .d-flex.flex-column.flex-md-row.gap-4.mt-4 {
    display: flex !important;
    flex-direction: column-reverse !important;
  }

  .col-12.col-md-3.order-0.order-md-2.mb-3.mb-md-0 {
    width: 100% !important;
  }
}