.loginWrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('/img/Fundo.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Poppins', sans-serif;
  position: relative;
}

.loginLogoOutside {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100%;
  height: auto;
  animation: fadeDown 0.8s ease;
  justify-content: start;
  align-items: top;
}

.loginLogoOutside img {
  width: 300px;
}


.loginCard {
  background: rgba(255, 255, 255, 0.95);
  padding: 3rem 2.5rem;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  max-width: 500px;
  width: 90%;
  text-align: center;
  animation: fadeIn 0.7s ease-in-out;
}

.loginTitle {
  font-size: 1.8rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 0.5rem;
}

.loginSubtitle {
  font-size: 0.95rem;
  color: #777;
  margin-bottom: 2rem;
}

.loginInput {
  width: 100%;
  padding: 0.9rem 1rem;
  margin-bottom: 1.2rem;
  border: 1px solid #ddd;
  border-radius: 12px;
  outline: none;
  transition: all 0.3s ease;
  font-size: 0.95rem;
}

.loginInput:focus {
  border-color: var(--vermelhoEscuro);
  box-shadow: 0 0 0 3px rgba(117, 9, 27, 0.2);
}


.loginButton {
  width: 100%;
  padding: 1rem;
  background: var(--vermelhoMedio);
  border: none;
  border-radius: 12px;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.loginButton:hover {
  background: var(--vermelhoEscuro);
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 600px) {
  .loginCard {
    padding: 2rem 1.5rem;
  }
}