
.AvatarPerfil {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: linear-gradient(135deg, var(--vermelho), var(--vermelhoEscuro));
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: var(--branco);
  text-transform: uppercase;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);

}
