tecnico:root {
  --vermelho-principal: #e30615;
  --vermelho-escuro: #8e0009;
  --preto-zelos: #101820;
  --cinza-claro: #eaeaea;
  --branco: #ffffff;
  --prioridade-maxima: #e30615;
  --prioridade-minima: #ffbf00;
  --prioridade-baixa: #008000;
  --body-font: 'Nunito Sans', system-ui;
  --font-regular: 400;
  --font-semi-bold: 600;
  --normal-font-size: 0.938rem;
}

.icon-semchamados {
  width: 12rem;
}

.bannerChamadosArea {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.accordion-chamados-tecnico {
  border-radius: 10px;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 2rem 0 2rem 1rem;
  width: auto !important;
  background-color: transparent;
  color: #000;
}

.accordion-item {
  background-color: transparent;

}

.accordion-item h2 button {
  font-size: 35px;
}

.accordion-headerChamados {
  border-left: #e30615 solid 4px;
  padding-left: 10px;
}

.bi-chevron-right {
  transition: transform 0.2s;
}

/* Quando o accordion estiver aberto, gira o ícone */
.accordion-button:not(.collapsed) .bi-chevron-right {
  transform: rotate(90deg);
  /* direita -> baixo */
}