@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
    --branco: #ffff;
    --vermelhoEscuro: #8e0009;
    --vermelhoMedio: #b5000c;
    --vermelho: #e30615;
    --preto: #000000;
    --pretuAzulado: #101820;
    --cinza: #eaeaea;
}

.formularioSuporte {
    display: flex;
    justify-content: center;
}

@media (min-width: 991px) {
    .fundoBrancoSuporte {
        width: 100%;
        height: 104%;
        background-color: #fbfbfb;
        border-radius: 40px;
        padding: 20px;
        padding-right: 50px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
}

@media (max-width: 991px) {
    .formularioSuporte {
        display: flex;
        justify-content: center;
    }

    .fundoBrancoSuporte {
        width: 109%;
        height: 104%;
        background-color: #fbfbfb;
        border-radius: 40px;
        padding: 0;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .fundo-formularioSuporte {
        background-color: var(--branco);
        border-radius: 30px;
        width: 100%;
        padding: 10%;
        box-shadow: 0 5px 15px rgba(0, 0, 0, .192);
    }
}

@media (max-width: 470px) {
    .formularioSuporte {
        display: flex;
        justify-content: center;
    }

    .fundo-formularioSuporte {
        background-color: var(--branco);
        border-radius: 30px;
        width: 100%;
        padding: 10%;
        margin-left: -10%;
        box-shadow: 0 5px 15px rgba(0, 0, 0, .192);
    }
}

.fundo {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
}

.inputSuporte {
    background-color: #f3f3f3;
}

.title-escola {
    color: #8c8c8c;
    font-size: 13px;
}

.subtitulo-suporte {
    text-transform: uppercase;
    color: #8c8c8c;
    font-size: 13px;
    margin-bottom: -1px;
}

.geral-suporte-infos-exp {
    display: flex;
    margin-top: 4px;
}

.icon-suporte {
    font-size: 40px;
    margin-right: 13px;
    color: var(--vermelhoMedio);
}

.endereco-suporte-1 {
    margin-top: 10px;
    margin-bottom: -2px;
    color: #8a8a8a;
    font-size: 14px;
}

.endereco-suporte-2 {
    color: #0f0f0f;
    font-size: 15px;
}

.telefone-suporte-1 {
    margin-bottom: -2px;
    margin-top: 5px;
    color: #8a8a8a;
    font-size: 14px;
}

.telefone-suporte-2 {
    color: #0f0f0f;
    font-size: 15px;
}

.fundoBrancoSuporte {
    width: 100%;
    height: 104%;
    background-color: #fbfbfb;
    border-radius: 40px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-right: 50px;
}

.endereco-suporte {
    padding: 30px;
}

.suporte-label {
    color: #575757;
    margin-bottom: -8px;
    margin-top: 2px;
}

.fundo-formularioSuporte {
    background-color: var(--branco);
    width: 90%;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.192) 0px 5px 15px;
    padding: 7%;
}

.inputSuporte:hover,
.inputSuporte:focus {
    border-color: #b5000c !important;
    background-color: #f1f1f1;
    box-shadow: 0 0 0 0.2rem rgba(181, 0, 12, 0.25);
}


.titulo-endereco-suporte {
    font-family: "Quicksand", sans-serif !important;
}

.mensagem-erro-suporte {
    font-size: 12px;
}

/* From Uiverse.io by JaydipPrajapati1910 */
.cssbuttons-io-button {
    margin-top: 7%;
    background: #b5000c;
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #e30615;
    overflow: hidden;
    position: relative;
    height: 1.9em;
    padding-right: 3.3em;
    border-radius: 1.4em;
    font-size: 15px;
}

.cssbuttons-io-button .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.9em;
    width: 1.9em;
    border-radius: 1em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #b5000c;
    right: 0.3em;
    transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #8e0009;
}

.cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
    transform: scale(0.95);
}