:root {
  --vermelho-principal: #e30615;
  --vermelho-escuro: #8e0009;
  --preto-zelos: #101820;
  --cinza-claro: #eaeaea;
  --branco: #ffffff;
  --prioridade-maxima: #e30615;
  --prioridade-minima: #ffbf00;
  --prioridade-baixa: #008000;
  --body-font: 'Nunito Sans', system-ui;
  --font-regular: 400;
  --font-semi-bold: 600;
  --normal-font-size: 0.938rem;
}

.card-virgem {
  border-radius: 10px;
  height: 6rem;
  width: 55rem;
  flex-direction: row;
}

.imgPerfil-virgem{
  border-radius: 100%;
  height: 4.3rem;
  width: 5rem;
}

.borderColorPrioridade-1-virgem {
  border-left: solid var(--prioridade-maxima) 15px;
}

.borderColorPrioridade-2-virgem {
  border-left: solid var(--prioridade-minima) 15px;
}

.borderColorPrioridade-3-virgem {
  border-left: solid var(--prioridade-baixa) 15px;
}

.borderColorPrioridade-4-virgem {
  border-left: solid var(--prioridade-maxima) 15px;
}

.prioridadeP-1{
  color: var(--prioridade-maxima);
}

.prioridadeP-2{
  color: var(--prioridade-minima);
}

.prioridadeP-3{
  color: var(--prioridade-baixa);
}

.prioridadeP-4{
  color: var(--prioridade-maxima);
}

.prioridade-virgem-1{
  background-color: #dbc9ca;
  border-radius: 20px;
  padding: 10px;
}

.prioridade-virgem-2{
  background-color: #dce5ae;
  border-radius: 20px;
  padding: 10px;
}

.prioridade-virgem-3{
  background-color: #b1c7ba;
  border-radius: 20px;
  padding: 10px;
}

.prioridade-virgem-4{
  background-color: #c0868a;
  border-radius: 20px;
  padding: 10px;
}