:root {
    --branco: #ffff;
    --vermelhoEscuro: #8e0009;
    --vermelhoMedio: #b5000c;
    --vermelho: #e30615;
    --preto: #000000;
    --cinza: #808080;
    --cinza2: #ac0000;
}

body {
    overflow: hidden;
}

.geral-patrimonios {
    display: flex;
    flex-direction: column;
}

.total-adm {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-right: 50px;
}


.MuiDataGrid-cell:focus,
.MuiDataGrid-cell:focus-within,
.MuiDataGrid-cell:focus-visible,
.MuiDataGrid-columnHeader:focus,
.MuiDataGrid-columnHeader:focus-within,
.MuiDataGrid-columnHeader:focus-visible,
.MuiDataGrid-row:focus,
.MuiDataGrid-row:focus-visible .MuiDataGrid-main:focus {
    outline: none !important;
    box-shadow: none !important;
}

.MuiDataGrid-row:hover {
    background-color: color-mix(in srgb, var(--vermelhoEscuro) 30%, transparent) !important;
}

.MuiDataGrid-row.Mui-selected {
    background-color: transparent !important;
}

.tituloMedicos {
    margin-top: 2%;
    font-size: 40px;
    color: var(--perto);
    border-left: 3px solid var(--vermelhoMedio);
    padding-left: 7px;
}

.btn-filtro-adm {
    background-color: var(--branco) !important;
    border: transparent !important;
}

.borda-filtro-usuario {
    border: 2px solid var(--vermelhoEscuro);
    border-radius: 20px;
    background-color: var(--branco);
}

.borda-filtro-usuario button {
    border-radius: 20px;
}

.borda-filtro-usuario input {
    border-radius: 20px;
    color: var(--vermelhoEscuro);
    border: none;
}

.borda-filtro-usuario input:focus {
    border: none !important;
    outline: 0 !important;
    box-shadow: none !important;
}

.borda-filtro-usuario i {
    color: var(--vermelhoEscuro);
}

.container-filtro-pacientes {
    margin-top: 2%;
    margin-bottom: 2.5%;
}

.MuiTablePagination-selectLabel.css-s09cke-MuiTablePagination-selectLabel,
.MuiTablePagination-displayedRows.css-11cfq65-MuiTablePagination-displayedRows {
    margin: 0 !important;
}

.form-select {
    border: solid 2px #ffffff !important;
    margin-right: 10px;
}

.form-select.select-transparent {
    border: none !important;
    background-color: transparent !important;
    box-shadow: none !important;
    appearance: none !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
}

.form-select.select-transparent:focus {
    border: none !important;
    background-color: transparent !important;
    box-shadow: none !important;
}


.btn-close {
    --bs-btn-close-focus-shadow: 0 0 0 .25rem rgb(255 0 0 / 25%) !important;
}

@media (max-width: 767px) {
    .inputs-filtro-adm {
        width: 100% !important;
    }
}


@media (min-width: 1080px) {
    .custom-col-1080 {
        flex: 0 0 auto;
        width: 25% !important;
        max-width: 25% !important;
    }
}

@media (max-width: 1079.98px) and (min-width: 768px) {
    .custom-col-1080 {
        flex: 0 0 auto;
        width: 50% !important;
        max-width: 50% !important;
    }
}

@media (hover: none) {
    .css-mwb3k9-MuiDataGrid-root .MuiDataGrid-columnHeader:focus .MuiDataGrid-columnSeparator--resizable, .css-mwb3k9-MuiDataGrid-root .MuiDataGrid-columnHeader--siblingFocused .MuiDataGrid-columnSeparator--resizable {
        color: #c01515;
    }
}